.topbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(177, 219, 255);
    padding: 10px;
}

.images1{
    width: 100px;
}

.navs{
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    padding: 10px;
    align-items: center;
}

.menu{
    display: flex;
    list-style-type: none;
    column-gap: 20px;
}

.btnss{
    padding: 10px 25px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
}
.banner-img{
    width: 100%;
    height: 75vh;
    object-fit: cover;
}
.abtimg{
    width: 100%;
}
.content{
    text-align: justify;
}
.cd{
    height: 45vh;
    object-fit: cover;
}
.foot{
    width: 50%;
}